@import '../variables.module.css';

.navBar {
    color: #ffffff;
    background-color: var(--primary-color);
    box-shadow: 0 3px 5px rgb(151, 151, 151);
    overflow: hidden;
    position: relative;
    z-index: 9;
}

a {
    color: #ffffff;
}

.navLinks {
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    font-size: 1.4em;
    padding-left: 330px;
}

.logo {
    width: 82px;
    height: 82px
}

.cartLink {
    position: relative;
}

.cartDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.icon {
    color: var(--secondary-color);
    width: 31px;
    height: 31px;
}

button {
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

button:focus {
    outline: none;
}

.itemCount {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: 77%;
    bottom: -1%;
    position: absolute;
    z-index: 99;
    background-color: var(--secondary-color);
    color: white;
    font-size: 0.6em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCountValue {
    padding-top: 1px;
}