@import '../variables.module.css';


.navBar {
    color: #ffffff;
    background-color: var(--primary-color);
    box-shadow: 0 3px 5px rgb(151, 151, 151);
    overflow: hidden;
    position: relative;
    z-index: 99;
}

a {
    color: #ffffff;
}

.navLinks {
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    font-size: 1.4em;
    padding-left: 330px;
}

.logo {
    width: 82px;
    height: 82px
}

.homeLink {}

.shopLink {}

.cartLink {}

.cartDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.icon {
    color: var(--secondary-color);
    width: 31px;
    height: 31px;
}

button {
    padding-left: 5px;
    padding-right: 5px;
    border: none;
}

button:focus {
    outline: none;
}